/* 底部导航样式 */
.bottom-tab {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 99;
    width: 100%;
    height: 5rem;
    font-size: 1em;
    max-width: 800px;
    transform: translateX(-50%);
}
.bottom-tab-item {
    text-align: center;
}
.bottom-tab-item-img {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
}
.bottom-tab-item-img img {
    width: 100%;
    height: 100%;
}
.active-bottom-tab {
    animation: rubberBand 0.5s linear 1;
}