/* banner组件 */

.com-banner {
    width: 100%;
    height: 100%;
    position: relative;
}
.com-banner-img {
    width: 100%;
    height: 19rem;
    border-radius: 0.6rem;
}
.com-banner-img img {
    width: 100%;
    height: 100%;
}
.com-banner-pages {
    height: 100%;
    top: 0;
    position: absolute;
    transition: all ease 0.3s;
}
.com-banner-page {
    height: 100%;
    width: 100%;
    margin: 0 0.3rem;
}
.com-banner-text {
    padding: 0.8rem 0 0 0 ;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.com-banner-title {
    font-size: 1.6em;
    color: #32CEFA;
    margin: 0 1rem 0 0.5rem;
}
.com-banner-info {
    color: #868891;
    font-weight: 400;
    font-size: 1.4em;
}