/* 定义一些常用样式 */

/* DIN-字体 */

@font-face {
    font-family: DIN;
    src: url('../../assets/font/DIN-Bold.otf');
    font-display: swap;
}

.din {
    font-family: DIN;
}

/* 横向flex */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 纵向flex */
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    flex: 1
}

.flex-1-important {
    flex: 1 0 auto;
    height: 0;
}


/* 页面颜色 */
.bg-white {
    background-color: #fff;
}

/* 页面布局 */
.main-page { /* 含有bottom的页面 */
    padding-bottom: 6rem;
}
.page-loading {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/loading.png');
    background-size: 68% auto;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}