/* 定义一些常用样式 */

/* DIN-字体 */
.din {
    font-family: DIN-Bold;
    src: url('../../assets/font/DIN-Bold.otf');
}

/* 横向flex */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 纵向flex */
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-1 {
    flex: 1
}

.flex-1-important {
    flex: 1 0 auto;
    height: 0;
}


/* 页面布局 */
.main-page { /* 含有bottom的页面 */
    padding-bottom: 6rem;
    background-color: #fff;
}