<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>发现</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../common/css/public.css" type="text/css">
    <!-- 引入本页样式 -->
    <link rel="stylesheet" href="./index.1.0.8.css" type="text/css">
</head>
<body>
    <div class="page-loading"></div>
    
    <div id="app" class="main-page page-find" v-cloak>

        <!-- 标题部分 -->
        <div class="page-find-title">
            <img :src="imgs.title" alt="title">
        </div>
        <div class="page-find-search" ref="search">
            <img class="page-find-search-icon" :src="imgs.search" alt="search">
            <span>大家都在搜：草榴社区</span>
        </div>

        <!-- 悬浮标题 -->
        <div v-show="showTitleSearch" class="find-fixd-title">
            <img :src="imgs.title2" alt="title" class="find-fixd-title-img">
            <div class="find-fixd-title-search">
                <img class="find-fixd-title-icon" :src="imgs.search" alt="search">
                <span>大家都在搜：草榴社区</span>
            </div>
        </div>

        <!-- 热搜 -->
        <div class="page-find-hs">
            <span class="page-find-hs-title">猫咪热搜：</span>
            <div class="page-find-hs-box">
                <div class="page-find-hs-item" v-for="(item, i) in hotSearchs" :key="i">
                    <span class="page-find-hs-item-text">{{i + 1}}&nbsp;{{item.title}}</span>
                    <span class="page-find-hs-item-icon page-find-hs-item-hot" v-if="item.isHot">热</span>
                    <span class="page-find-hs-item-icon page-find-hs-item-new" v-if="item.isNew">新</span>
                </div>
            </div>
        </div>

        <!-- 分类 -->
        <div class="page-find-tabs">
            <div v-for="(item, i) in tabs" :key="i" class="page-find-tab" :class="item.id == activeTab ? 'active-tab' : ''" @click="checkTab(item)">{{item.name}}</div>
        </div>
        <div class="page-find-list">
            <!-- 今日热点 -->
            <div v-if="activeTab == 1" class="page-find-box">

                <!-- 热议话题 -->
                <div class="page-find-hot-topic">
                    <div class="page-find-item-title">
                        <img class="page-find-item-title-icon" :src="imgs.hot" alt="hot">
                        <span>热议话题</span>
                    </div>
                    <div class="page-find-topic-item" v-for="(item, i) in hotTopics" :key="i">
                        <div class="find-topic-item-info">
                            <div class="find-topic-item-pic"></div>
                            <div class="find-topic-item-content">{{item.content}}</div>
                        </div>
                        <div class="find-topic-item-controls">
                            <div class="find-topic-item-control din">
                                <img :src="imgs.share" alt="share" class="topic-item-control-icon">
                                <span>{{shortNum(item.share)}}</span>
                            </div>
                            <div class="find-topic-item-control din" :class="item.isUp ? 'active-control' : ''">
                                <img v-if="!item.isUp" :src="imgs.up" alt="share" class="topic-item-control-icon">
                                <img v-if="item.isUp" :src="imgs.upEd" alt="share" class="topic-item-control-icon">
                                <span>{{shortNum(item.up)}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 帖子列表 -->
                <div class="page-find-links-item" v-for="(item, i) in links" :key="i">
                    <div class="find-links-title din">
                        <img :src="imgs.link" alt="link" class="find-links-icon">
                        <span>{{item.title}}</span>
                    </div>
                    <div class="find-links-info">{{item.info}}</div>
                    <div class="find-links-pic"></div>
                    <div class="find-links-controls din">
                        <div class="find-link-control">
                            <img :src="imgs.share" alt="share" class="find-link-control-icon" />
                            <span>{{shortNum(item.share)}}</span>
                        </div>
                        <div class="find-link-control">
                            <img :src="imgs.comment" alt="comment" class="find-link-control-icon" />
                            <span>{{shortNum(item.comment)}}</span>
                        </div>
                        <div class="find-link-control">
                            <img v-if="!item.isUp" :src="imgs.up" alt="share" class="find-link-control-icon">
                            <img v-if="item.isUp" :src="imgs.upEd" alt="share" class="find-link-control-icon">
                            <span>{{shortNum(item.up)}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 猫咪福利 -->
            <div v-if="activeTab == 2" class="page-find-box"></div>
            <!-- 赠送VIP -->
            <div v-if="activeTab == 3" class="page-find-box"></div>
        </div>
        
        <!-- 底部导航，activeIndex标识激活第几个 -->
        <bottom-tab active="2"></bottom-tab>

    </div>
    <!-- 引入公共脚本 -->
    <script src="../../common/js/public.js"></script>
    <!-- 引入本页脚本 -->
    <script src="./index.1.0.8.js"></script>
</body>
</html>