<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>发现</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../common/css/public.css" type="text/css">
    <!-- 引入本页样式 -->
    <link rel="stylesheet" href="./index.1.0.8.css" type="text/css">
</head>
<body>
    <div class="page-loading"></div>
    
    <div id="app" class="main-page page-find" v-cloak>

        <!-- 标题部分 -->
        <div class="page-find-title"></div>
        <div class="page-find-search">
            <span>大家都在搜：草榴社区</span>
        </div>

        <!-- 热搜 -->
        <div class="page-find-hs">
            <span class="page-find-hs-title">猫咪热搜：</span>
            <div class="page-find-hs-box">
                <div class="page-find-hs-item" v-for="(item, i) in hotSearchs" :key="i">
                    <span>{{i + 2}}&nbsp;</span>
                    <span class="page-find-hs-item-text">{{item.title}}</span>
                    <span class="page-find-hs-item-icon page-find-hs-item-hot" v-if="item.isHot">热</span>
                    <span class="page-find-hs-item-icon page-find-hs-item-new" v-if="item.isNew">新</span>
                </div>
            </div>
        </div>

        <!-- 分类 -->
        <div class="page-find-tabs">
            <div v-for="(item, i) in tabs" :key="i" class="page-find-tab" :class="item.id == activeTab ? 'active-tab' : ''" @click="checkTab(item)">{{item.name}}</div>
        </div>
        <div class="page-find-list"></div>
        
        <!-- 底部导航，activeIndex标识激活第几个 -->
        <bottom-tab active="2"></bottom-tab>

    </div>
    <!-- 引入公共脚本 -->
    <script src="../../common/js/public.js"></script>
    <!-- 引入本页脚本 -->
    <script src="./index.1.0.8.js"></script>
</body>
</html>