<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>VIP</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../common/css/public.css" type="text/css">
    <!-- 引入本页样式 -->
    <link rel="stylesheet" href="./index.1.0.6.css" type="text/css">
</head>
<body>
    <div class="page-loading"></div>
    
    <div id="app" class="main-page" v-cloak>
        <!-- 搜索 -->
        <div class="vip-search flex-row bg-white">
            <img class="vip-search-logo" :src="imgs.logo" alt="logo">
            <div class="vip-search-box flex-1">
                <span class="vip-search-text">搜您想搜 看您想看</span>
                <img class="vip-search-icon" :src="imgs.iconSearch" alt="icon">
            </div>
            <img class="vip-search-time" :src="imgs.history" alt="time">
        </div>
        <!-- 分类 -->
        <div lass="vip-types">
            <div class="vip-type-box flex-row" v-for="(type, index) in Types" :key="index">
                <div class="vip-type-left din">
                    <div class="vip-type-left-inner">{{type.name}}</div>
                </div>
                <div class="vip-type-right flex-1 flex-row">
                    <div class="vip-type-item" v-for="(item, i) in type.children" :key="i">{{item.name}}</div>
                </div>
            </div>
        </div>
        <!-- banner -->
        <div class="vip-banner bg-white">
            <com-banner :titlecolor="'#DCB482'"></com-banner>
        </div>
        <!-- 广告 -->
        <div class="vip-ad" style="margin-bottom:-2rem">
            <div class="vip-ad-item" v-for="(item, i) in ads" :key="i">
                <!-- <lazy-img :src="item.pic"></lazy-img> -->
            </div>
        </div>
        <!-- 猫咪推荐 -->
        <div class="vip-types vip-news">
            <div class="vip-types-title flex-row">
                <div class="vip-types-name">猫咪推荐 <img class="vip-types-icon-right" :src="imgs.iconRight" alt="gt"></div>
                <div class="vip-types-info">精挑好货 不可错过</div>
            </div>
            <div class="vip-types-box flex-row">
                <div class="vip-news-item" v-for="(item, i) in news" :key="i">
                    <div class="vip-news-pic vip-types-pic">
                        <lazy-img :src="item.pic"></lazy-img>
                        <div class="vip-video-icon">
                            <img :src="imgs.videoVip">
                        </div>
                        <span class="vip-types-time">{{item.time}}</span>
                    </div>
                    <div class="vip-types-item-name">{{item.name}}</div>
                </div>
            </div>
        </div>
        <!-- 最新视频 -->
        <div class="vip-types vip-tops">
            <div class="vip-types-title flex-row">
                <div class="vip-types-name">最新视频 <img class="vip-types-icon-right" :src="imgs.iconRight" alt="gt"></div>
                <div class="vip-types-info">片源不断 追番不停</div>
            </div>
            <div class="vip-types-box flex-row">
                <div class="vip-tops-item" v-for="(item, i) in tops" :key="i">
                    <div class="vip-tops-pic vip-types-pic">
                        <lazy-img :src="item.pic"></lazy-img>
                        <div class="vip-video-icon">
                            <img :src="imgs.videoVip">
                        </div>
                        <span class="vip-types-time">{{item.time}}</span>
                    </div>
                    <div class="vip-types-item-name" style="text-align: center;">{{item.name}}</div>
                </div>
            </div>
        </div>
        <!-- 情色小说 -->
        <div class="vip-types vip-storys">
            <div class="vip-types-title flex-row">
                <div class="vip-types-name">情色小说 <img class="vip-types-icon-right" :src="imgs.iconRight" alt="gt"></div>
                <div class="vip-types-info">穿越帝王 采阳补阴</div>
            </div>
            <div class="vip-types-box vip-storys-box flex-row">
                <div class="vip-storys-item" v-for="(item, i) in storys" :key="i">
                    <div class="vip-storys-pic vip-types-pic">
                        <lazy-img :src="item.pic"></lazy-img>
                        <img class="vip-book-icon" :src="imgs.bookVip">
                        <div class="vip-storys-class" v-if="item.type">
                            <span class="vip-storys-class-icon" :style="{backgroundColor: item.type == 1 ? '#FF5252' : '#32CEFA'}"></span>
                            {{item.type == 1 ? '短篇' : '长篇'}}
                        </div>
                        <div class="vip-books-shelf">
                            <img :src="imgs.shelf" alt="shelf">
                        </div>
                    </div>
                    <div class="vip-types-item-name vip-storys-item-name">{{item.name}}</div>
                    <div class="vip-types-item-date din">{{item.date}}</div>
                </div>
            </div>
        </div>
        <!-- 有声有色 -->
        <div class="vip-types vip-voices">
            <div class="vip-types-title flex-row">
                <div class="vip-types-name">有声有色 <img class="vip-types-icon-right" :src="imgs.iconRight" alt="gt"></div>
                <div class="vip-types-info">有声有色 声色俱全</div>
            </div>
            <div class="vip-types-box flex-row">
                <div class="vip-voices-item" v-for="(item, i) in voices" :key="i">
                    <div class="vip-voices-pic vip-types-pic">
                        <lazy-img :src="item.pic"></lazy-img>
                        <img class="vip-voices-icon" :src="imgs.listen" alt="l">
                    </div>
                    <div class="vip-types-item-name" style="text-align: center;">{{item.name}}</div>
                </div>
            </div>
        </div>
        <!-- 热血漫画 -->
        <div class="vip-types vip-cartoons">
            <div class="vip-types-title flex-row">
                <div class="vip-types-name">热血漫画 <img class="vip-types-icon-right" :src="imgs.iconRight" alt="gt"></div>
                <div class="vip-types-info">独家期刊 热血高潮</div>
            </div>
            <div class="vip-types-box vip-storys-box flex-row">
                <div class="vip-storys-item" v-for="(item, i) in cartoons" :key="i">
                    <div class="vip-storys-pic vip-types-pic">
                        <lazy-img :src="item.pic"></lazy-img>
                        <img class="vip-book-icon" :src="imgs.bookVip">
                        <div class="vip-books-shelf">
                            <img :src="imgs.shelf" alt="shelf">
                        </div>
                    </div>
                    <div class="vip-types-item-name vip-storys-item-name">{{item.name}}</div>
                    <div class="vip-types-item-date din">{{item.date}}</div>
                </div>
            </div>
        </div>

        <!-- 底部导航，activeIndex标识激活第几个 -->
        <bottom-tab active="1"></bottom-tab>
    </div>
    <!-- 引入公共脚本 -->
    <script src="../../common/js/public.js"></script>
    <!-- 引入本页脚本 -->
    <script src="./index.1.0.6.js"></script>
</body>
</html>