<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>详情</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../common/css/public.css" type="text/css">
    <!-- 引入本页样式 -->
    <link rel="stylesheet" href="./index.1.0.8.css" type="text/css">
</head>
<body>
    <div class="page-loading"></div>
    <div id="app" style="padding-bottom: 6rem"  v-cloak>
        
        <!-- 标题 -->
        <div class="findinfo-title">
            <img class="findinfo-title-back" :src="imgs.right" alt="icon" @click="goBack">
            <div class="findinfo-title-icon"></div>
            <div class="findinfo-title-info">
                <b class="findinfo-title-title">{{info.title}}</b>
                <div>{{info.date}}</div>
            </div>
        </div>

        <!-- 详情 -->
        <div class="findinfo-content">
            <div class="findinfo-banner"></div>
            <div class="findinfo-info" v-html="info.content"></div>
            <div class="findinfo-tags">
                <div class="findinfo-tag" v-for="(item, i) in info.tags" :key="i">{{item}}</div>
            </div>
        </div>

        <!-- 评论 -->
        <div class="findinfo-comment">
            <div class="findinfo-comment-title">
                <b>评论</b>
                <div class="findinfo-comment-switch" @click="checkSort">
                    <span v-show="comment.sort == 1">热门</span>
                    <span v-show="comment.sort == 2">最新</span>
                    <img :src="imgs.switch" alt="switch">
                </div>
            </div>
            <div class="findinfo-comment-item" v-for="(item, i) in comment.list" :key="i">
                <div class="comment-item-header">
                    <div class="comment-item-avatar"></div>
                    <div class="comment-item-title">
                        <b>{{item.user.name}}</b>
                        <div>{{item.date}}</div>
                    </div>
                    <span class="comment-item-nums">{{shortNum(item.ups)}}</span>
                    <div class="comment-item-ups">
                        <img v-if="!item.isUp" :src="imgs.up" alt="up">
                        <img v-else :src="imgs.upEd" alt="up">
                    </div>
                </div>
                <div class="comment-item-body">
                    {{item.content}}
                </div>
                <div class="comment-item-btn">
                    <span @click="openCommentChildren(item)" v-if="item.comments">{{item.comments}}条回复&nbsp;<img :src="imgs.right" alt=">"> </span>
                    <span v-else>回复</span>
                </div>
            </div>
        </div>

        <!-- 操作 -->
        <div class="findinfo-control">
            <div class="findinfo-control-input">
                <input ref="input" type="text" placeholder="槽点太多 说点啥吧" @focus="inputFocus = true" @blur="inputFocus = false">
            </div>
            <!-- 发送 -->
            <div class="findinfo-control-send" v-show="inputFocus">
                发送
            </div>
            <!-- 按钮 -->
            <div class="findinfo-control-item findinfo-control-big-item" v-show="!inputFocus">
                <img :src="imgs.comment" alt="icon">
                <span class="findinfo-control-item-num din">{{shortNum(comment.nums)}}</span>
            </div>
            <div class="findinfo-control-item findinfo-control-big-item" v-show="!inputFocus">
                <img v-if="!comment.isUp" :src="imgs.commentUp" alt="icon">
                <img v-if="comment.isUp"  :src="imgs.commentUpEd" alt="icon">
                <span class="findinfo-control-item-num din">{{shortNum(comment.ups)}}</span>
            </div>
            <div class="findinfo-control-item" v-show="!inputFocus">
                <img v-if="!comment.isStar" :src="imgs.star" alt="icon">
                <img v-if="comment.isStar"  :src="imgs.starEd" alt="icon">
            </div>
            <div class="findinfo-control-item" v-show="!inputFocus">
                <img :src="imgs.share" alt="icon">
            </div>
        </div>

        <!-- 子评论弹窗 -->
        <div class="findinfo-c-children" :class="showCommentChildren?'':'findinfo-c-children-hidden'">
            <div class="findinfo-c-content">
                <div class="findinfo-c-title">
                    <span>共32条回复</span>
                    <span class="findinfo-c-title-close" @click="showCommentChildren = false">×</span>
                </div>
                <div class="findinfo-c-item">
                    <div class="findinfo-c-item-header">
                        <div class="findinfo-c-item-avatar"></div>
                        <div class="findinfo-c-item-name">
                            <b>南宫小小</b>
                            <div>1天前</div>
                        </div>
                        <span class="findinfo-c-item-num">1.2w</span>
                        <img class="findinfo-c-item-icon" :src="imgs.up" alt="icon">
                    </div>
                    <div class="findinfo-c-item-text">听说你的城市下雪了</div>
                    <div class="findinfo-c-item-children"></div>
                    <div class="findinfo-c-item-btn">回复</div>
                </div>
                <div class="findinfo-c-line"></div>
                <div class="findinfo-c-list">
                    <div class="findinfo-c-item">
                        <div class="findinfo-c-item-header">
                            <div class="findinfo-c-item-avatar"></div>
                            <div class="findinfo-c-item-name">
                                <b>理性认知</b>
                                <div>1天前</div>
                            </div>
                            <span class="findinfo-c-item-num">865</span>
                            <img class="findinfo-c-item-icon" :src="imgs.upEd" alt="icon">
                        </div>
                        <div class="findinfo-c-item-text">下雪了，你想起了谁呢？</div>
                        <div class="findinfo-c-item-children"></div>
                        <div class="findinfo-c-item-btn">回复</div>
                    </div>
                    <div class="findinfo-c-item">
                        <div class="findinfo-c-item-header">
                            <div class="findinfo-c-item-avatar"></div>
                            <div class="findinfo-c-item-name">
                                <b>六夜票</b>
                                <div>1天前</div>
                            </div>
                            <span class="findinfo-c-item-num">87</span>
                            <img class="findinfo-c-item-icon" :src="imgs.up" alt="icon">
                        </div>
                        <div class="findinfo-c-item-text">在咖啡的角落听雪落下的声音，静静听别人说着你的故事</div>
                        <div class="findinfo-c-item-target">
                            <span class="findinfo-c-item-target-name">理性认知：</span>下雪了，你想起了谁呢？下雪了，你想起了谁呢？下雪了，你想起了谁呢？
                        </div>
                        <div class="findinfo-c-item-btn">回复</div>
                    </div>
                    <div class="findinfo-c-item">
                        <div class="findinfo-c-item-header">
                            <div class="findinfo-c-item-avatar"></div>
                            <div class="findinfo-c-item-name">
                                <b>六夜票</b>
                                <div>1天前</div>
                            </div>
                            <span class="findinfo-c-item-num">87</span>
                            <img class="findinfo-c-item-icon" :src="imgs.up" alt="icon">
                        </div>
                        <div class="findinfo-c-item-text">在咖啡的角落听雪落下的声音，静静听别人说着你的故事</div>
                        <div class="findinfo-c-item-target">
                            <span class="findinfo-c-item-target-name">理性认知：</span>下雪了，你想起了谁呢？下雪了，你想起了谁呢？下雪了，你想起了谁呢？
                        </div>
                        <div class="findinfo-c-item-btn">回复</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 引入公共脚本 -->
    <script src="../../common/js/public.js"></script>
    <!-- 引入本页脚本 -->
    <script src="./index.1.0.8.js"></script>
</body>
</html>