<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>发现</title>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../common/css/public.css" type="text/css">
    <!-- 引入本页样式 -->
    <link rel="stylesheet" href="./index.1.0.8.css" type="text/css">
</head>
<body>
    <div class="page-loading"></div>
    
    <div id="app" class="main-page page-search" style="padding-bottom:5rem" v-cloak>

        <!-- 返回 -->
        <div class="page-search-back">
            <img class="page-search-back-icon" :src="imgs.left" alt="back" @click="back">
            <img class="page-search-back-logo" :src="imgs.logo" alt="logo">
        </div>

        <!-- 搜索页 -->
        <div class="page-search-main" v-show="!searchResult.length">
            <div class="search-main-logo">
                <img :src="imgs.title" alt="logo">
            </div>
            <!-- 搜索框 -->
            <div class="search-main-input">
                <img :src="imgs.search" alt="?">
                <input type="text" placeholder="大家都在搜：草榴社区" v-model="search">
                <span class="search-main-btn" v-show="search" @click="handleSearch">→</span>
                <!-- 搜索预选项 -->
                <div class="search-main-pre" v-show="preList.length">
                    <div class="search-main-pre-item" v-for="(item, i) in preList" :key="i">{{item}}</div>
                </div>
            </div>

            <!-- 历史搜索 -->
            <div class="page-find-hs" v-show="historySearchs.length">
                <span class="page-find-hs-title">历史搜索：</span>
                <img class="page-find-hs-delete" :src="imgs.delete" alt="delete" @click="historySearchs = []">
                <div class="page-find-hs-box">
                    <div class="page-find-hs-item" v-for="(item, i) in historySearchs" :key="i">
                        <span class="page-find-hs-item-text">{{item}}</span>
                    </div>
                </div>
            </div>

            <!-- 热搜 -->
            <div class="page-find-hs">
                <span class="page-find-hs-title">猫咪热搜：</span>
                <div class="page-find-hs-box">
                    <div class="page-find-hs-item" v-for="(item, i) in hotSearchs" :key="i">
                        <span class="page-find-hs-item-text">{{i + 1}}&nbsp;{{item.title}}</span>
                        <span class="page-find-hs-item-icon page-find-hs-item-hot" v-if="item.isHot">热</span>
                        <span class="page-find-hs-item-icon page-find-hs-item-new" v-if="item.isNew">新</span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 结果页 -->
        <div class="page-search-result" v-show="searchResult.length">
            <div class="search-main-input page-search-result-input">
                <img :src="imgs.search" alt="?">
                <input type="text" placeholder="大家都在搜：草榴社区" v-model="search">
                <span class="search-main-btn" v-show="search" @click="handleSearch">→</span>
            </div>
            <div class="search-result-item" v-for="(item, i) in searchResult" :key="i">
                <div class="search-result-item-title">{{item.title}}</div>
                <div class="search-result-item-content">{{item.info}}</div>
            </div>
            <div class="search-result-more">
                <img :src="imgs.left" alt="more">
                <span>更多搜索结果</span>
            </div>
        </div>

        <!-- 底部导航，activeIndex标识激活第几个 -->
        <bottom-tab active="2"></bottom-tab>

    </div>
    <!-- 引入公共脚本 -->
    <script src="../../common/js/public.js"></script>
    <!-- 引入本页脚本 -->
    <script src="./index.1.0.8.js"></script>
</body>
</html>