
/* home-search */
.home-search {
    height: 4.4rem;
    padding: 0 1rem;
}
.home-search-logo {
    height: 2.8rem;
    position: relative;
    top: -0.2rem;
}
.home-search-box {
    margin: 0 1rem;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 1.2rem;
    background-color: #EDEDF1;
    text-align: center;
    position: relative;
}
.home-search-box input {
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    display: inline-block;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    font-size: 1em;
    position: relative;
    left: -0.5rem;
}
.home-search-icon {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 1.8rem;
    top: 0.2rem;
}
.home-search-time {
    width: 2.4rem;
    height: 2.4rem;
}


/* home-type-box */
.home-type-box {
    height: 5.6rem;
    padding: 0 1rem;
    background-color: #F0FDFF;
}
.home-type-box:nth-child(odd) {
    background-color: #F7FEFF;
}
.home-type-left {
    width: 4.4rem;
    height: 4.8rem;
    padding: 0.24rem 0.2rem 0.4rem 0.76rem;
    border-radius: 0.8rem;
    margin: 0 1.5rem 0 1rem;
    background-color: #32CEFA;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 0;
    font-weight: 600;
}
.home-type-right {
    flex-wrap: wrap;
    font-size: 1.35rem;
    line-height: 2.4rem;
    color: #32CEFA;
    letter-spacing: 0;
    font-weight: 600;
}
.home-type-item {
    margin-left: 1rem;
}
.home-types-pic {
    background-color: #fff;
}
.home-books-shelf {
    width: 100%;
    position: absolute;
    height: 0.4rem;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.home-books-shelf img {
    width: 100%;
}


/* home-ad */
.home-ad {
    padding: 1rem;
    width: 100%;
    background-color: #F0FDFF;
}
.home-ad-item {
    width: 100%;
    height: 4.8rem;
    overflow: hidden;
    background-color: rgba(216, 216, 216, 0.5);
    border-radius: 0.4rem;
    margin-bottom: 0.1rem;
}


/* home-push */
.home-push {
    height: 29rem;
}
.home-push-title {
    padding: 1rem 1rem 0.5rem 1rem;
}
.home-push-name {
    font-size: 1.6em;
    color: #121212;
    letter-spacing: 0;
    font-weight: 600;
    text-align: left;
}
.home-push-btn {
    width: 6rem;
    height: 2.2rem;
    background: #32CEFA;
    border-radius: 0.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #F0FDFF;
    font-size: 1em;
    margin-left: 1rem;
}
.home-push-info {
    padding: 1rem;
}
.home-push-info-name {
    font-size: 1.3em;
    color: #868891;
    font-weight: 400;
    text-align: left;
}
.home-push-text-btn {
    font-size: 1.3em;
    color: #32CEFA;
    margin-left: 1rem;
}
.home-push-start {
    width: 2.2rem;
    height: 2.2rem;
    position: relative;
    top: 0.1rem;
    margin-left: 0.5rem;
}
.home-push-box {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 0.4rem;
}

/* home-types */
.home-types {
    background-color: #F0FDFF;
}
.home-types-title {
    height: 7rem;
    padding: 3.2rem 1.6rem 1.6rem 1rem;
}
.home-types-name {
    font-size: 1.6em;
    color: #121212;
    font-weight: 600;
}
.home-types-icon-right {
    width: 1.8rem;
    height: 1.8rem;
    position: relative;
    top: 0.2rem;
}
.home-types-info {
    font-size: 1.2em;
    color: #868891;
    font-weight: 400;
}
.home-types-box {
    flex-wrap: wrap;
}

/* home-news-item */
.home-news-item {
    width: 18.6rem;
    margin-bottom: 2.1rem
}
.home-news-pic {
    height: 10.6rem;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    position: relative;
}
.home-types-time {
    position: absolute;
    left: 1rem;
    bottom: 0.4rem;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    z-index: 99;
}
.home-types-item-name {
    font-size: 1.4rem;
    color: #121212;
    line-height: 2rem;
    padding: 0.3rem 0 0.5rem 0.8rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-weight: 600;
}

/* home-tops-item */
.home-tops-item {
    width: 12rem;
    margin-bottom: 0.4rem;
}
.home-tops-pic {
    height: 17rem;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    position: relative;
}

/* home-storys-item */
.home-storys-box {
    padding: 0 1.6rem;
}
.home-storys-item {
    width: 9.6rem;
    margin-bottom: 1.8rem;
}
.home-storys-pic {
    height: 12.8rem;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;
    position: relative;
}
.home-storys-item-name {
    padding-left: 0;
    margin: 0.6rem 0 0.1rem 0;
}
.home-types-item-date {
    padding-left: 0;
    font-weight: 1.2em;
    color: #868891;
    font-weight: 700;
}
.home-storys-class {
    width: 5rem;
    height: 1.8rem;
    line-height: 1.7rem;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    position: absolute;
    left: 0;
    bottom: 2rem;
    border-bottom-right-radius: 0.9rem;
    border-top-right-radius: 0.9rem;
    overflow: hidden;
    z-index: 99;
}
.home-storys-class-icon {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #32CEFA;
    margin: 0 0.1rem 0 0.4rem;
}

/* home-voices */
.home-voices-item {
    width: 9rem;
    position: relative;
}
.home-voices-pic {
    height: 13rem;
}
.home-voices-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 3.2rem!important;
    height: 3.2rem!important;
    z-index: 99;
}


/* home-banner */
.home-banner {
    width: 100%;
    height: 23rem;
    padding: 0 1rem;
    overflow: hidden;
}
